<header class="container-fluid bg-white position-sticky top-0">
  <ul class="nav nav-pills mb-3 py-3 container" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
        role="tab" aria-controls="pills-profile" aria-selected="false" href="/catalogo">Productos</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
        type="button" role="tab" aria-controls="pills-contact" aria-selected="false" href="/carrito">Carrito</a>
    </li>
    <div class="col d-flex justify-content-end">
      <li class="nav-item" role="presentation">
        <a type="button" href="/usuarios/perfil">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" color="white" fill="currentColor"
            class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
            </path>
          </svg>
        </a>
      </li>
    </div>
  </ul>
</header>

<div class="tab-pane cart_card">
  {{#if carts.length}}
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h4 class="title cart_column">Producto</h4>
      </div>
      <div class="col-2">
        <h4 class="title cart_column">Precio</h4>
      </div>
    </div>
  </div>
  <hr />

  {{#each carts}}
  <div>
    <div class="row card_cart">
      <div class="col-11">
        {{#each this.products}}
        <div class="container card_product">
          <div class="row">
            <div class="col-3">
              <img src="./img/{{this.thumbnail}}" alt="" class="product_image" />
            </div>
            <div class="col-7">
              <div class="card-body">
                <h4 class="title">{{this.name}}</h4>
                <h6 class="subtitle">{{this.description}}</h6>
              </div>
            </div>
            <div class="col-2">
              <h4>${{this.price}}</h4>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="col-1 delete_icon_button">
        <button type="button" class="btn btn-outline-danger delete_button" onclick="return deleteCart({{json this}})">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3"
            viewBox="0 0 16 16">
            <path
              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z">
            </path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  {{/each}}

  <div class="container">
    <div class="row purchase_resume">
      <div class="col d-flex justify-content-start">
        <h3 class="item_cart_total">Total: ${{total}}</h3>
      </div>

      <div class="col d-flex justify-content-end">
        <button class="btn btn-success">COMPRAR</button>
      </div>
    </div>
  </div>
  {{else}}
  <figure class="text-center text-secondary">
    <h4>Todavía no has agregado productos a tu carrito.</h4>
  </figure>
  {{/if}}
</div>